p {
    margin: 0px;
   }

body>p:nth-child(100n+2)::first-letter {
   color:red 
}
/* p:first-of-type  {
    color:red 
 } */


a{
    background: gray
}
a:link{
    background:yellow
}

   div {
    border: solid;
    border-color: black;
   }
   #div1 {
       height: 900px;
       padding: 20px;
       /* background-color: yellow; */
   }
   #div2 {
       padding: 20px;
       background-color: cyan;
   }
   #div3 {
    background-color: lightpink;
    float: left;
    width: 80%
    /* left: 15px; */
   }
   #div4 {
    background-color: orange;
   }
   #div5 {
    background-color: lightblue;
   }
   #div6 {
       clear:both;
    background-color: lightgray;
   }